<!DOCTYPE html>
<html>
  <head>
    <title>Tool Click</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flex-content-container">

    <nav class="navbar navbar-toggleable-md navbar-dark bg-dark">
      <%= link_to 'Tool-Click', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">

          </li>
        </ul>
        <ul class="navbar-nav">
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to '#', class: 'nav-link' do %>
                <i class="fa fa-columns"></i>
                My Admin Dashboard
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %>
                <i class="fa fa-times-circle"></i>
                Sign Out
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to 'Create New User', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% else %>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to '#', class: 'nav-link' do %>
                  <i class="fa fa-columns"></i>
                  My Dashboard
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                  <i class="fa fa-times-circle"></i>
                  Sign Out
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Admin Sign In', new_admin_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'User Sign In', new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
